<header>
    <nav class="container-fluid">
        <a href="">Inicio</a>
        <a href="">Productos</a>
        <a href="">Usuarios</a>
        <a href="">Productos</a>
    </nav>
</header>


<button>Crear nuevo Usuario</button>

<div class="tablaResultados">
    <table class="default">

    <tr class="encabezado">

        <th>NOMBRE</th>

        <th>APELLIDO</th>

        <th>GENERO</th>

        <th>EDAD</th>

        <th>ACCIONES</th>

    </tr>

    <tr class="contenido">

        <td>Juan Keyner</td>

        <td>Fernández Hincapié</td>

        <td> Male</td>

        <td>24</td>

        <th>
            <button>Eliminar</button>
            <button>Editar</button>
            <button>Detalles</button>
        </th>

    </tr>

    </table>
</div>