<table>
    <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Correo</td>
    </tr>
    @foreach (var  user  in Model ){
        <tr>
            <td>@user.id</td>
            <td>@user.Names</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>

        </tr>

    }
</table>