
<table class="table table-bordered border-primary">
    
    <thead>
    <tr>
        <th>ID</td>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Acciones</th>
        
    </tr>

    </thead>
   
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Names</td>
        <td>@Model.LastName</td>
        <td>@Model.Email</td>
        
    </tr>
    
</table>